<h1>Edit Article Detail</h1>
<%= form_for @article do |f| %>
<p>
  <label >Title</label> :
  <%= f.text_field :title %>
</p>
<p>
  <label >Description</label> :
  <%= f.text_field :description %>
</p>
<p>
  <label >Rating</label> :
  <%= f.text_field :rating %>
</p>
<p>
  <label >User ID</label> :
  <%= f.text_field :user_id %>
</p>

<%= f.submit  "Save changes" %>
<% end %> <br />

