<h1>Add New Article</h1>
<%= form_for @article do |f| %> 
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 
  Title: <%= f.text_field :title %>  <br />
  Description : <%= f.text_field :description %>  <br />
  Rating : <%= f.text_field :rating %>  <br />
  User Id : <%= f.text_field :user_id %>  <br />
  <%=f.submit :create %>
<% end %>
