<!--This section is to show all comments that owned by the article  -->
<h1><%= @article.title.capitalize %></h1>
<p>
  <%= @article.description %>
</p>


<a href="/articles/<%= @article.id %>/edit">Edit Article</a>

<h2>Comments</h2>
<div id="comments">
  <%= render :partial => "comments", :locals => {:comments => @comments}  %>
</div><br /><br />

<h4>Add New Comment</h4>
<% unless(current_user.nil?)%>
   <%= form_for @comment, :url => comments_path, :remote => true do |f| -%>
      <%= f.text_area :content %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :article_id, :value => @article.id %><br />
      <%= submit_tag "comment" %>
  <% end -%>
<% end %>