<h1>Edit Product Detail</h1>
<%= form_for @product do |f| %>
<p>
  <label >Name</label> :
  <%= f.text_field :name %>
</p>
<p>
  <label >Price</label> :
  <%= f.text_field :price %>
</p>
<p>
  <label >Stock</label> :
  <%= f.text_field :stock %>
</p>
<p>
  <label >Description</label> :
  <%= f.text_field :description %>
</p>
<p>
  <label >User ID</label> :
  <%= f.text_field :user_id %>
</p>

<%= f.submit  "Save changes" %>
<% end %> <br />

