<h1>List of Products</h1>

<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Options</th>
    </tr>
  </thead>

  <% @products.each do |product| %>
    <tr>
      <td><%= link_to product.name, product %></td>
      <td>
        <%= link_to 'Edit', edit_product_path(product.id) %>
        <%= link_to 'Delete', product_path(product.id), :method => :delete, :data => { confirm: 'Are you sure?' }  %>
      </td>
    </tr>
  <% end -%>
</table>

<p><%= link_to 'New Product', new_product_path %></p>