<h1>Add New Product</h1>
<%= form_for @product do |f| %>  
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  Name : <%= f.text_field :name %>  <br />
  Price : <%= f.text_field :price %>  <br />
  Stock : <%= f.text_field :stock %>  <br />
  Description : <%= f.text_field :description %>  <br />
  User ID : <%= f.text_field :user_id %>  <br />
  <%=f.submit :create %>
<% end %>
