<h1><%= @product.name %></h1>
<p>
  Price : 
  <%= @product.price %>
</p>
<p>
  Stock : 
  <%= @product.stock %>
</p>
<p>
  Description : 
  <%= @product.description %>
</p>
<p>
  User ID : 
  <%= @product.user_id %>
</p>

<a href="/products/<%= @product.id %>/edit">Edit</a>