<h1>List of Articles</h1>

<table border="1">
  <thead>
    <tr>
      <th>Title</th>
      <th>Options</th>
    </tr>
  </thead>

  <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, article %></td>
      <td>
        <%= link_to 'Edit', edit_article_path(article.id) %>
        <%= link_to 'Delete', article_path(article.id), :method => :delete, :data => { confirm: 'Are you sure?' }  %>
      </td>
    </tr>
  <% end -%>
</table>

<p><%= link_to 'New Article', new_article_path %></p>