<h1>Edit Category Detail</h1>
<%= form_for @category do |f| %>
<p>
  <label >Name</label> :
  <%= f.text_field :name %>
</p>
<p>
  <label >User ID</label> :
  <%= f.text_field :user_id %>
</p>

<%= f.submit  "Save changes" %>
<% end %> 

