<h1>List of Categories</h1>

<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Options</th>
    </tr>
  </thead>

  <% @categories.each do |category| %>
    <tr>
      <td><%= link_to category.name, category %></td>
      <td>
        <%= link_to 'Edit', edit_category_path(category.id) %>
        <%= link_to 'Delete', category_path(category.id), :method => :delete, :data => { confirm: 'Are you sure?' }  %>
      </td>
    </tr>
  <% end -%>
</table>

<p><%= link_to 'New Category', new_category_path %></p>