<h1>Add New Category</h1>
<%= form_for @category do |f| %>  
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  Name : <%= f.text_field :name %>  <br />
  User Id : <%= f.text_field :user_id %>  <br />
  <%=f.submit :create %>
<% end %>
