<!DOCTYPE html>
<html>
<head>
  <title>ExerciseApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= raw(welcome_text) %>
<%= flash[:notice] %>
<%= flash[:error] %>
<%= yield %>

</body>
</html>
