<h1>Edit User Detail</h1>
<%= form_for @user do |f| %>
<p>
  <label >First Name</label> :
  <%= f.text_field :first_name %>
</p>
<p>
  <label >Last Name</label> :
  <%= f.text_field :last_name %>
</p>
<p>
  <label >Email</label> :
  <%= f.text_field :email %>
</p>
<p>
  <label >Username</label> :
  <%= f.text_field :username %>
</p>
<p>
  <label >Password</label> :
  <%= f.text_field :password %>
</p>
<p>
  <label >Date of Birth</label> :
  <%= f.text_field :date_of_birth %>
</p>
<p>
  <label >Age</label> :
  <%= f.text_field :age %>
</p>
<p>
  <label >Address</label> :
  <%= f.text_field :address %>
</p>
<p>
  <label >Countries ID</label> :
  <%= f.text_field :country_id %>
</p>

<%= f.submit  "Save changes" %>
<% end %> <br />

