<h1>List of Users</h1>

<table border="1">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Options</th>
    </tr>
  </thead>

  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.first_name, user %></td>
      <td>
        <%= link_to 'Edit', edit_user_path(user.id) %>
        <%= link_to 'Delete', user_path(user.id), :method => :delete, :data => { confirm: 'Are you sure?' }  %>
      </td>
    </tr>
  <% end -%>
</table>

<p><%= link_to 'New User', new_user_path %></p>