<%= flash[:error] %>
<h1>Sign Up</h1>
<%= form_for @user do |f| %>  
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  First Name : <%= f.text_field :first_name %>  <br />
  Last Name : <%= f.text_field :last_name %>  <br />
  Email : <%= f.text_field :email %>  <br />
  Username : <%= f.text_field :username %>  <br />
  Password : <%= f.password_field :password %>  <br />
  Confirm Password  : <%= f.password_field :password_confirmation %> <br />
  Date of Birth : <%= f.text_field :date_of_birth %>  <br />
  Age : <%= f.text_field :age %>  <br />
  Address : <%= f.text_field :address %>  <br />
  Country : <%= f.collection_select :country_id, Country.all, :id, :name %> <br />
  <%= recaptcha_tags %>
  <%=f.submit :create %>
<% end %>
