<h1>Edit Country Detail</h1>
<%= form_for @country do |f| %>
<p>
  <label >Code</label> :
  <%= f.text_field :code %>
</p>
<p>
  <label >Name</label> :
  <%= f.text_field :name %>
</p>


<%= f.submit  "Save changes" %>
<% end %> 

