<h1>List of Countries</h1>

<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Options</th>
    </tr>
  </thead>

  <% @countries.each do |country| %>
    <tr>
      <td><%= link_to country.name, country %></td>
      <td>
        <%= link_to 'Edit', edit_country_path(country.id) %>
        <%= link_to 'Delete', country_path(country.id), :method => :delete, :data => { confirm: 'Are you sure?' }  %>
      </td>
    </tr>
  <% end -%>
</table>

<p><%= link_to 'New Country', new_country_path %></p>