<h1>Add New Country</h1>
<%= form_for @country do |f| %>  
  <% if @country.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
      <% @country.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  Code : <%= f.text_field :code %>  <br />
  Name : <%= f.text_field :name %>  <br />
  <%=f.submit :create %>
<% end %>
